<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Express JS Todo App</title>
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor"
      crossorigin="anonymous"
    />
  </head>
  <body>
    <%- include("layout/header.ejs") %>

    <main>
      <div class="container mx-auto my-5 position-relative h-100">
        <div class="card position-relative h-100">
          <img src="/about.jpg" class="card-img-top w-50 mx-auto" alt="..." />
          <div class="card-body mx-auto">
            <h5 class="card-title">Bablu Mia</h5>
            <p class="card-text d-block">MERN Stack Web Developer</p>
            <a href="/" class="btn btn-primary">Go Home</a>
          </div>
        </div>
      </div>
    </main>

    <%- include("layout/footer.ejs") %>
  </body>
</html>
